<div class="desk-table">
    <div class="desk-header th_1 scroll_50_120_12_2tilePos29">

    </div>
    <div class=" th_2 scroll_50_120_12_2tilePos42">

     <div class="desk-cell x_0 y_0 w_1 h_2 selected">
      <div class="text top">
       TV
      </div>
     </div>
     <div class="desk-cell x_4 y_0 w_1 h_2 fullImage">

     </div>
     <div class="desk-cell x_3 y_1 w_1 h_1 fullImage">
     </div>
     <div class="desk-cell x_2 y_1 w_1 h_1">
      <div class="logo" style="background-image: url(file:/flash/Resources/Desk/151/Resource/56445ae29ba01.png)">
      </div>
      <div class="text bottom">
       CANAL+ CANALSAT
      </div>
     </div>

    <div class="desk-cell x_2 y_0 w_1 h_1">
      <div class="logo" style="background-image: url(file:/flash/Resources/Desk/151/Resource/54004aed67a24.png)">
      </div>
      <div class="text bottom">
       enregistreur TV
      </div>
     </div>

     <div class="desk-cell x_1 y_1 w_1 h_1">
      <div class="logo" style="background-image: url(file:/flash/Resources/Desk/151/Resource/54004b524ebbf.png)">
      </div>
      <div class="text bottom">
       programme TV
      </div>
     </div>

     <div class="desk-cell x_1 y_0 w_1 h_1">
      <div class="logo" style="background-image: url(file:/flash/Resources/Desk/151/Resource/54004b9f12647.png)">
      </div>
      <div class="text bottom">
       TV à la demande
      </div>
     </div>
    </div>



    <!--  video a la demande  -->
    <!--
        netflix= 1,
        videos= 1.1,
        got= 2,
        favoris= 2.1,
    -->


    <div class=" th_2 tileHidden">

     <div class="desk-cell x_0 y_0 w_1 h_2">
      <div class="text top">
       vidéo à la demande
      </div>
      <div class="text bottom">
       découvrez + de 10 000 films, séries,docus, …
      </div>
     </div>

     <div class="desk-cell x_4 y_0 w_1 h_2 fullImage">
      <img class="fullImage">
       <div class="mask">
       </div>
      </img>
     </div>

     <div class="desk-cell x_3 y_1 w_1 h_1 fullImage">
      <img class="fullImage">
       <div class="mask">
       </div>
      </img>
     </div>

     <div class="desk-cell x_3 y_0 w_1 h_1 fullImage">
      <img class="fullImage">
       <div class="mask">
       </div>
      </img>
     </div>

     <div class="desk-cell x_2 y_1 w_1 h_1 fullImage">
      <img class="fullImage">
       <div class="mask">
       </div>
      </img>
     </div>


     <div class="desk-cell x_2 y_0 w_1 h_1">
      <div class="logo">
      </div>
      <div class="text bottom">
       mes favoris
      </div>
     </div>


     <div class="desk-cell x_1 y_1 w_1 h_1 fullImage">
      <img class="fullImage">
       <div class="mask">
       </div>
      </img>
     </div>

     <div class="desk-cell x_1 y_0 w_1 h_1">
      <div class="logo">
      </div>
      <div class="text bottom">
       mes vidéos
      </div>
     </div>

    </div>



    <!-- jeux videos  -->
    <!--

    -->


    <div class=" th_2 tileHidden">

     <div class="desk-cell x_0 y_0 w_1 h_2">
      <div class="text top">
       jeux vidéo
      </div>
      <div class="text bottom">
       parcourez tout le catalogue jeux
      </div>
     </div>

     <div class="desk-cell x_4 y_0 w_1 h_2 fullImage">
      <img class="fullImage">
       <div class="mask">
       </div>
      </img>
     </div>

     <div class="desk-cell x_2 y_1 w_2 h_1 fullImage">
      <img class="fullImage">
       <div class="mask">
       </div>
      </img>
     </div>

     <div class="desk-cell x_2 y_0 w_2 h_1 fullImage">
      <img class="fullImage">
       <div class="mask">
       </div>
      </img>
     </div>

     <div class="desk-cell x_1 y_1 w_1 h_1">
      <div class="logo">
      </div>
      <div class="text bottom">
       multi-joueurs
      </div>
     </div>

     <div class="desk-cell x_1 y_0 w_1 h_1">
      <div class="logo">
      </div>
      <div class="text bottom">
       nouveautés
      </div>
     </div>

    </div>


 <div class="desk-table">
    <div class="desk-header th_1 scroll_50_120_12_2tilePos29">

        tv= 0,
        vod= 1,
        sports= 2,
        jeux= 3,
        musique= 4,
        applications= 5,
        orange= 6,
        boutique= 7),
<div class=" th_2 scroll_50_120_12_2tilePos42">
<div class=" th_2 scroll_50_120_12_2tilePos72">
<div class=" th_2 tileHidden">
<div class=" th_2 tileHidden">
<div class=" th_2 tileHidden">
<div class=" th_2 tileHidden">
<div class=" th_2 tileHidden">
<div class=" th_2 tileHidden">


